<div class="row">
  <div class="col-3" *ngFor="let country of countries">
    <div class="card">
      <div class="d-flex justify-content-center mt-3">
        <img
          class="rounded-circle"
          src="{{ country.flag }}"
          alt="{{ country.name }}"
          width="100px"
          heigth="100px"
        />
      </div>

      <div class="card-body">
        <h5 class="card-title">{{ country.name }}</h5>
        <p class="card-text">{{ country.nativeName }}</p>
        <a class="nav-link" [routerLink]="['../region/', country.name]"
          >More details</a
        >
      </div>
    </div>
  </div>
</div>
